@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@font-face {
  font-family: ApercuPro;
  src: url("../../../assets/fonts/ApercuPro-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  margin: auto;
  background-color: #ffffff;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
}

/* header type 1 */
.width-default {
  width: 1165px !important;
  padding: 0 !important;
}

.wrap-header {
    --widthWrap: 1400px;
    width: 100%;
    height: 400px;
    padding-top: 25px;
    background-repeat: round;
    background-image: url("../../../assets/images/anhbiadetail.png");
}

/* menu */
.wrap-menu {
  height: 100%;
  margin: auto;
  padding-top: 20px;
}

.wrap-menu {
  width: 100%;
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rs-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 25px;
}

.rs-menu a {
  padding-bottom: 10px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.menu a {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.menu a:hover,
.rs-menu a:hover {
  color: #ff7b42;
}

.btn-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 35px;
}

.btn-menu i {
  display: none;
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
}

.menu-responsive {
  width: 100%;
  height: -webkit-fill-available;
  background-color: #000000;
  position: fixed;
  left: -100%;
  transition: 1s;
  z-index: 1000;
}

.logo {
  height: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo i {
  font-size: 30px;
  cursor: pointer;
  color: #ffffff;
}

/* css header content */
.content-header {
    margin: auto;
    margin-top: 100px;
    font-family: "DM Sans", sans-serif;
}

.content-header p{
    color: #FFF2CF;
    font-size: 16px;
    font-weight: bold;
}

.content-header strong {
    font-size: 60px;
    font-weight: 500;
    color: #FFFFFF;
    display: block;
    width: 700px;
    margin-left: -3px;
    line-height: 100%;
}
/* ........................................................................................... */
.wrap-content {
    width: var(--widthWrap);
    margin: auto;
    margin-top: 50px;
}

.content {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.breadcrumb {
  display: flex;
  width: 100%;
  height: 6px;
  align-items: center;
}

.breadcrumb a {
  text-decoration: none;
  font-size: 15px;
  padding-right: 10px;
  color: #3D3E3F;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.breadcrumb img {
  padding-right: 5px;
}

.slide-header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-top: 50px;
}

.sl-hd-title {
  width: 551px;
  height: 80px;
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
}

.btn-filter {
  width: 92px;
  height: 38px;
  font-size: 14px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: black;
  background: #ffffff;
}


.wrap-item {
  width: 32%;
  margin-bottom: 30px;
}

.part-top {
  width: 100%;
  object-fit: cover;
  position: relative;
}

.part-top img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

img.flag {
  width: 20.87px!important;
  height: 35.39px!important;
  position: absolute;
  top: -2px;
  right: 10px;
}

.rating {
  width: 65px;
  height: 30px;
  position: absolute;
  bottom: 22px;
  background: #ff7b42;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.rating img {
  width: 15px;
  height: 15px;
}

.rating span {
  font-weight: bold;
  color: #ffffff;
}

.part-bot {
  width: 100%;
  padding: 5px;
  padding-top: 15px;
}

.location {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.location span {
  padding-left: 11px;
  font-size: 14px;
  color: #636567;
}

.title {
  height: 51px;
}

.title a {
  text-decoration: none;
  font-size: 18px;
  color: #1c1c1e;
  font-weight: 500;
}

.sl2-item-info {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.sl2-if-time {
  display: flex;
  width: 138px;
  height: 32px;
  align-items: center;
  /* padding-left: 4px; */
}

.sl2-if-time img {
  width: 14px !important;
  height: 14px;
}

.sl2-if-cost {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 14px;
  color: #636567;
  padding-right: 9px;
}

.sl2-if-time span {
  font-size: 14px;
  padding-left: 13.5px;
  color: #636567;
}

.sl2-if-cost strong {
  font-size: 20px;
  color: #1c1c1e;
  padding-bottom: 5px;
  padding-left: 13.5px;
}

/* css ranger slider */
.wrapper {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
}

.slide-container {
  position: relative;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.slider-track {
  width: 100%;
  height: 5px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}
input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}
input[type="range"]::-ms-track {
  appearance: none;
  height: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  cursor: pointer;
  margin-top: -5px;
  pointer-events: auto;
  border-radius: 50%;
  border: 1px solid red;
  position: relative;
}
input[type="range"]::-webkit-slider-thumb::before {
  content: "123";
  width: 500px;
  height: 500px;
  color: #ffffff;
  background-color: red;
  z-index: 1000;
  position: absolute;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffffff;
  pointer-events: auto;
}
input[type="range"]::-ms-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffffff;
  pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 3px solid #3264fe;
}
.values {
  width: 100%;
  padding-bottom: 28px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-top: 35px;
}

.range-wrap {
  width: 200px;
  position: relative;
}
.range-value {
  position: absolute;
  top: -50%;
}
.range-value span {
  width: 30px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #03a9f4;
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}
.range-value span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #03a9f4;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
/* css filter */
.wrap-filter {
  width: 375px;
  position: absolute;
  z-index: 1000;
  background: white;
  right: 0;
  top: 175px;
  padding: 24px;
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.2);
}

.fl-top {
  display: flex;
  justify-content: space-between;
}

.fl-top span {
  font-size: 18px;
  font-weight: 700;
}

.values input[type="text"] {
  width: 50px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  border: none;
  outline: none;
}

.fl-bottom {
  width: 100%;
}

.fl-bottom label {
  font-size: 18px;
  font-weight: 700;
  /* margin-bottom: 35px; */
  margin-top: 20px;
}

.wrap-duration {
  border-bottom: 1px solid #E5E5E5;
}

.chk-d {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}

.chk-d span {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  padding-left: 10px;
}

.type-tour {
  border-bottom: 1px solid #E5E5E5;
}
/*
button.btn-filter {

} */

.btn-ft-submit {
  background: #ff7b42;
  color: #ffffff;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border: none;
}

.fl-top button {
  border: none;
  background: none;
  color: #c4c4c4;
  font-size: 16px;
}

.display {
  display: block !important;
}

.hidden {
  display: none;
}

/* ........................................................................................... */
/* footer */
.wrap-footer {
  width: 100%;
  height: 418px;
  background: #1c1c1e;
  padding: 0;
}

.footer-top {
  width: 1165px;
  height: calc(100% - 41px);
  margin: auto;
  padding-top: 50px;
}

.footer-top .row {
  height: 100%;
}

.footer-bot {
  width: 100%;
  height: 41px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bot span {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  font-family: "ApercuPro";
}

.info-web {
  height: 86%;
  padding-top: 40px;
}

.info-web a {
  display: block;
  padding-bottom: 28px;
  text-decoration: none;
  color: #ffffff;
}

.info-web span {
  display: flex;
  align-items: flex-start;
}

.info-web p {
  color: #ffffff;
  padding-left: 15px;
}

.info-web img {
  padding-top: 4.5px;
}

.wrap-info {
    position: relative;
    width: 100%;
    height: 536px;
    overflow: hidden;
    margin-top: 5px;
}

.info-layer1 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.info-layer1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-layer2 {
    position: absolute;
    bottom: 0;
    width: 75%;
    height: 324px;
    background: #000000;
    color: #ffffff;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}

.wrap-if2 {
    display: flex;
    align-items: center;
    height: 60px;
}

.wrap-if2 strong {
    font-size: 18px;
    font-weight: 700;
    color: #FF7B42;
}

.wrap-if2 p {
    font-size: 14px;
    font-weight: 500;
}

.wrap-if2 span {
    padding-top: 12px;
    padding-left: 15px;
}

.info-layer2 h4 {
    margin-bottom: 36px;
}

.wrap-paginate li {
  padding-left: 24px;
  font-family: ApercuPro;
}

span.page-link {
  background: #000000!important;
}

.wrap-paginate a {
  background: #E8E9EA;
  color: #000000!important;
}

.page-item.disabled .page-link {
  background: #E8E9EA!important;
}

.style-square input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 1px solid #C4C4C4;
  padding: 0.5em;
  -webkit-appearance: none;
  border-radius: 4px;
  margin-right: 14px;
}

.style-square input[type=checkbox]:checked {
  background: url('../../../assets/icons/outline/square-solid.svg') no-repeat center center;
  background-size: 20px 17px;
}

.style-square input[type=checkbox]:focus {
  outline-color: transparent;
}

ul.style-square{
  padding-left: 0px!important;
}

.style-square li {
  list-style: none;
}

.style-square label {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

