@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@font-face {
  font-family: ApercuPro;
  src: url("../../../assets/fonts/ApercuPro-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  margin: auto;
  background-color: #ffffff;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
}

/* header */
.width-default {
  width: 1165px !important;

}

.wrap-header {
    --widthWrap: calc(100% - 1165px);
    /* width: var(--widthWrap); */
    background-image: url("../../../assets/images/Rectangle-24.png");
    position: relative;
    background-repeat: round;
}

/* menu */
.wrap-menu {
  height: 100%;
  margin: auto;
  padding-top: 20px;
}

.wrap-menu {
  width: 100%;
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rs-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 25px;
}

.rs-menu a {
  padding-bottom: 10px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.menu a {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.menu a:hover,
.rs-menu a:hover {
  color: #ff7b42;
}

.btn-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 35px;
  display: none;
}

.btn-menu i {
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
}

.menu-responsive {
  width: 100%;
  height: -webkit-fill-available;
  background-color: #000000;
  position: fixed;
  left: -100%;
  transition: 1s;
  z-index: 1000;
}

.logo {
  height: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo i {
  font-size: 30px;
  cursor: pointer;
  color: #ffffff;
}

/* css header content */
.content-header {
    margin: auto;
    margin-top: 100px;
    font-family: "DM Sans", sans-serif;
}

.content-header p{
    color: #FFF2CF;
    font-size: 16px;
    font-weight: bold;
}

.content-header strong {
    font-size: 60px;
    font-weight: 500;
    color: #FFFFFF;
    display: block;
    width: 450px;
    margin-left: -3px;
    line-height: 100%;
}

.form-search {
    width: 100%;
    height: 520px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.704) 1.52%, rgba(255, 255, 255, 0.64) 100%);
    backdrop-filter: blur(42px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: "DM Sans", sans-serif;
}

.form-search-item {
    width: 85%;
    margin-bottom: 15px;
}

.form-search-item h4 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 25px;
}

.wrap-input {
    height: 64px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-input img {
    width: 17px!important;
    height: 17px!important;
    margin-right: 10px;
}

.wrap-input input[type="text"], input[type="number"] {
    width: 80%;
    outline: none;
    border: none;
}

.wrap-submit {
    height: 64px;
    background: #FF7B42;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.wrap-submit span {
    font-weight: 700;
    margin-left: 10px;
}

.wrap-submit:hover {
    background:#ff97429f;
}
/* ........................................................................................... */
/* .wrap-features-1 */
.wrap-features-1 {
    width: calc(calc(var(--widthWrap) / 2) + 692px);
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #FFFFFF;
    font-family: "DM Sans", sans-serif;
    padding-left: calc(var(--widthWrap) / 2);
    padding-top: 10px;
    margin-top: 20px;
}
.wrap-ft1-top {
    display: flex;
    align-items: center;
}
.wrap-ft1-top img {
    width: 8!important;
    height: 8!important;
    margin-right: 10px;
}
.wrap-ft1-top h5 {
    font-size: 14px;
    font-weight: 500;
}
.wrap-ft-1-bot span {
    color: black;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: baseline;
    /* margin-right: 111px; */
}
.wrap-ft-1-bot p {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  padding-left: 5px;
}
.wrap-ft-1-bot {
    display: flex;
    justify-content: space-between;
    width: 88%;
}

/* ........................................................................................... */
/* ........................................................................................... */
/* css content */
.wrap-content {

margin-top: 100px;
}
/* Part: description */
.description {
    --heightDCR: 623px;
    height: var(--heightDCR);
}

.dcr-image {
    height: var(--heightDCR);
    position: relative;
}

img#dcr-img-1 {
    position: absolute;
    width: 85%;
    height: 541px;
    object-fit: cover;
    top: 0;
    left: 0;
}

img#dcr-img-2 {
    position: absolute;
    width: 347px;
    height: 347px;
    bottom: 0;
    right: 0;
}

.dcr-title {
    margin-bottom: 20px;
    font-family: "DM Sans", sans-serif;
}

.dcr-title p {
    font-size: 40px;
    font-weight: 500;
}

.dcr-title span {
    color: #FF7B42;
}

.dcr-content {
    display: flex;
    align-items: flex-start;
}

.dcr-content img {
    margin-right: 15px;
}

/* Part: slider type 1 */
.slide-type-1 {
  width: 100%;
  height: 499px;
  margin-top: 150px;
}

.slide-header {
  width: 100%;
  height: 80px;
  display: flex;
  position: relative;
  margin-bottom: 60px;
}

.sl-hd-title {
  width: 551px;
  height: 80px;
  font-family: 'DM Sans', sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
}

.slide-header button {
  width: 92px;
  height: 38px;
  position: absolute;
  right: 0;
  bottom: 0px;
  background: #1C1C1E;
}

.slide-header button a {
    font-size: 14px;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

.sl-content {
  width: 100%;
  height: 359px;
  position: relative;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
   display: none;
}

.nav-next {
  position: absolute;
  right: -20px;
  bottom: 60%;
}

.nav-prev {
  position: absolute;
  left: -35px;
  bottom: 60%;
}

.sl1-item {
  width: 255px;
  height: 359px;
}

.sl1-item img {
  width: 255px!important;
  height: 291px;
  object-fit: cover;
}

.sl1-item a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  margin-top: 12px;
  padding-bottom: 2px;
  color: #1C1C1E;
}

.sl1-item p {
  font-size: 14px;
  color: #636567;
  font-family: 'DM Sans', sans-serif;
}


/* slide type 2 */
.slide-type-2 {
  width: 100%;
  height: 499px;
  margin-top: 150px;
}

.sl2-content {
  width: 100%;
  height: 359px;
  position: relative;
}

.sl2-item {
  width: 350px;
  height: 359px;
}

.sl2-item img {
  width: 350px;
  height:249px;
  object-fit: cover;
}

.sl2-item-img {
  width: 350px;
  height:249px;
  object-fit: none;
  position: relative;
}

.rating {
  position: absolute;
  width: 65px;
  height: 30px;
  background: #FF7B42;
  bottom: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating img {
  width: 16px;
  height: 16px;
  object-fit: none;
}

.rating span {
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  color: #FFFFFF;
  padding-right: 10px;
  padding-top: 1px;
  font-weight: 700;
}

.flag {
  width: 20.88px;
  height: 33.39px;
  position: absolute;
  top: -1px;
  right: 19px;
}

.flag img {
  height: 33.39px;
}

.sl2-item-location {
  display: flex;
  font-size: 14px;
  line-height: 22.4px;
  width: 100%;
  height: 22px;
  align-items: center;
  padding-left: 4px;
  padding-top: 17px;
}

.sl2-item-location img {
  width: 16px!important;
  height: 18px;
}

.sl2-item-location span {
  padding-left: 10px;
  color: #636567;
  font-family: 'DM Sans', sans-serif;
}

.sl2-item-title {
  font-size: 18px;
  line-height: 23.44px;
  font-weight: 600;
  font-family: 'DM Sans', sans-serif;
  margin-top: 10px;
  height: 47px;
  overflow: hidden;
}

.sl2-item-title a{
  text-decoration: none;
  color: #1C1C1E;
}

.sl2-item-info {
  width: 348px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.sl2-if-time {
  display: flex;
  width: 138px;
  height: 32px;
  align-items: center;
  padding-left: 4px;
}

.sl2-if-time img {
  width: 14px!important;
  height: 14px;
}

.sl2-if-cost {
  width: 200px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 14px;
  color: #636567;
  padding-right: 4px;
}

.sl2-if-time span {
  font-size: 14px;
  padding-left: 13.5px;
  color: #636567;
}

.sl2-if-cost strong {
  font-size: 20px;
  color: #1C1C1E;
  padding-bottom: 5px;
  padding-left: 13.5px;
}

.send-email {
  width: 100%;
  height: 80px;
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.se-ct {
  width: 434px;
  height: 80px;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  font-family: 'DM Sans', sans-serif;
}

.se-ct span {
  color: #FF7B42;
}

.st-ct-ip-text {
  position: relative;
  width: 323px;
  height: 48px;
  background-color: #FFFFFF;
  border: 1px solid;
}

.st-ct-ip-text img {
  width: 18px;
  height: 14px;
  position: absolute;
  top: 16px;
  left: 25px;
}

.st-ct-ip-text input[type="text"] {
  width: 75%;
  position: absolute;
  top: 12px;
  left: 59px;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  outline: none;
  border: none;
}



.se-ct-input {
  display: flex;
}

.se-ct-input input[type="button"] {
  width: 101px;
  margin-left: 10px;
  font-size: 14px;
  color: #FFFFFF;
  background: black;
}

/* ........................................................................................... */
/* footer */
.wrap-footer {
  height: 418px;
  background: #1c1c1e;
  padding: 0;
}

.footer-top {
  width: 1165px;
  height: calc(100% - 41px);
  margin: auto;
  padding-top: 50px;
}

.footer-top .row {
  height: 100%;
}

.footer-bot {
  width: 100%;
  height: 41px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bot span {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  font-family: "ApercuPro";
}

.info-web {
  height: 86%;
  padding-top: 40px;
}

.info-web a {
  display: block;
  padding-bottom: 28px;
  text-decoration: none;
  color: #ffffff;
}

.info-web span {
  display: flex;
  align-items: flex-start;
}

.info-web p {
  color: #ffffff;
  padding-left: 15px;
}

.info-web img {
  padding-top: 4.5px;
}

.wrap-info {
    position: relative;
    width: 100%;
    height: 536px;
    overflow: hidden;
    margin-top: 5px;
}

.info-layer1 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.info-layer1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-layer2 {
    position: absolute;
    bottom: 0;
    width: 75%;
    height: 324px;
    background: #000000;
    color: #ffffff;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}

.wrap-if2 {
    display: flex;
    align-items: center;
    height: 60px;
}

.wrap-if2 strong {
    font-size: 18px;
    font-weight: 700;
    color: #FF7B42;
}

.wrap-if2 p {
    font-size: 14px;
    font-weight: 500;
}

.wrap-if2 span {
    padding-top: 12px;
    padding-left: 15px;
}

.info-layer2 h4 {
    margin-bottom: 36px;
}

select.select2 {
  width: 80%;
}

.selection span {
  border: none;
}

.select2-container--default .select2-selection--single {
  border: none;
}

.send-mail {
  margin-top: 100px;
  margin-bottom: 50px;
}
